<h1>Stupid Coaching</h1>
<form action="/answer">
  <h2>Ask your coach anything here: </h2>
  <input type="text" name="answer" placeholder="What are you looking for?">
  <input type="submit" value="Ask!">
</form>
